<mat-toolbar>
  <span>Last Angular Workshop ! </span>
  <mat-icon>sentiment_very_dissatisfied</mat-icon>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Hello @material</h1>
      <mat-tab-group>
        <mat-tab label="Example 1 - Forms">
          <app-example1></app-example1>
        </mat-tab>
        <mat-tab label="Example 2 - Cards">
          <app-example2></app-example2>
        </mat-tab>
        <mat-tab label="Example 3 - Navigation">
          <app-example3></app-example3>
        </mat-tab>
        <mat-tab label="Example 4 - Other components"><app-example4></app-example4></mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>
<footer></footer>